.aboutus-container {
    width: 100%;
    text-align: center;
  }
  .aboutus-container .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 10px 20px;
    z-index: 10;
    /* Rest of your styles */
  }
  .aboutus-container .navbar a{
    color: white;
  }
  .aboutus-container .navbar a:hover{
    color: #CA8E46;
  }
  
  .background-section {
    min-height: 95vh;
    background-image: url('../images/bg-aboutus.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative; /* Updated */
  }
  
  .background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black with opacity, adjust as needed */
    z-index: -1; /* Ensures the overlay is behind the content */
  }
  .sub-heading{
    font-size: 64px;
    margin-bottom: 55px;
  }
  
  
  .main-heading {
    margin-top: 30vh; /* Adjust as needed */
    /* ... rest of your styles ... */
  }
  
  /* Adjust the Navigation component styles as needed */
  
  

  
  /* Set black text color for sections following the background section */
  .content-section, .image-text-section, .text-image-section, .sub-heading, .text {
    color: #000; /* Black text */
    margin: 50px 0;
    padding: 0 20px;
  }
  .para-image{
     width: 500px;
     letter-spacing: .2px;
     font-family: sans-serif;
     font-size: 15px;
     line-height: 24px;
  }
  .para-mid{
    width: 500px;
     letter-spacing: .2px;
     font-family: sans-serif;
     font-size: 15px;
     line-height: 24px;
     margin-left: 157px;
  }
  /* Styles for image-text and text-image sections */
  .image-text-section, .text-image-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .image-text-section img, .text-image-section img {
    width: 45%;
    margin: 15px;
  }
  
  .text-image-section > div, .image-text-section > div {
    width: 45%;
    text-align: left;
  }
  
  /* Media queries */
  @media (min-width: 768px) {
    /* Your media query adjustments */
  }
  