/* CSS */
  
  
  .booking-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .booking-header {
    text-align: center;
  }
  .booking-card > *:first-child {
    margin-top: 20px;
    padding-bottom: 16px;
    letter-spacing: 2px; /* Adjust this value as needed */
  } 
  
  .booking-card {
    background: rgba(49, 43, 36, 0.6);
    width: 596px;
    height: 1500px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    display: flex; 
    text-align: left;       /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center;  /* Center-align children horizontally */
  }
  
  .react-datepicker {
      
    background-color: transparent !important;
    
    width: auto; /* Adjust the width as needed */
    font-size: 1.2em; /* Adjust the width as needed */
}

.react-datepicker,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
    color: white !important;
}
.react-datepicker__day--outside-month {
    visibility: hidden;
  }

.react-datepicker__day {
    width: 3em; /* Adjust width as needed */
    height: 3em; /* Adjust height as needed */
    line-height: 3em; /* Adjust the line height for vertical alignment */
}
.react-datepicker__current-month {
    margin-bottom: 10px; /* Adjust this value for more or less space */
    font-size: 1.6rem;
}
.react-datepicker__header {
    font-size: 1.4rem;
    padding-bottom: 0px; /* Adjust this value to increase/decrease padding */
    background-color: transparent !important;
    height: 4em;
     /* Adjust the header font size */
}

/* Style for week day names (e.g., Mon, Tue, etc.) */
.react-datepicker__day-name {
    width: 2em; /* Adjust width to ensure proper spacing */
    margin: 0;
    margin-top: -5px;
    width: 14.28%; /* Divide 100% by 7 days to distribute evenly */
    line-height: 3em;
    display: inline-block;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.react-datepicker__day:hover,
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
    color: black !important;
}
.react-datepicker__current-month,
.react-datepicker__header {
    color: white;
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: white !important;
    color: black !important; /* Change the text color to black for better visibility */
}

.react-datepicker__day--in-range {
  background-color: white !important;
  color: black !important;
}
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day--in-range:hover {
    background-color: white !important; /* Same color as the selected background */
    color: black !important;
}

/* Optional: Change the background color of the start and end dates when they are part of a range */
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
    background-color: white !important;
    color: black !important;
}
  
.react-datepicker__navigation {
  filter: invert(1);
}
  .choose-date {
    position: absolute; /* Position the Choose Date text */
    top: 20px; /* Adjust top position as needed */
    left: 20px; /* Adjust left position as needed */
    font-size: 24px; /* Adjust font size as needed */
    color: #fff; /* Text color */
  }
  .guests-section {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
  }
  
  .adults-section, .children-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    width: 45%;
  }
  
  .adults-section h3, .children-section h3 {
    align-self: flex-start; /* Align the heading to the left */
    margin-left: 10px; /* Add some margin to the left for spacing */
    font-size: 24px;
    margin-bottom: 8px;

  }
  
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .input-group input {
    width: 146px; /* Set width of input */
    height: 40px; /* Set height of input */
    text-align: center;
    border: 1px solid white;
    outline: none;
    -moz-appearance: textfield;
    font-size: 18px;
    background-color: transparent;
    color: white;
    margin: 0 10px;
  }
  
  .input-group button {
    width: 40px; /* Set width of buttons */
    height: 40px; /* Set height of buttons */
    background-color: #ca8e46;
    border: none;
    padding: 10px;
    font-size: 18px;
    color: white;
  }
  
  .input-group button:hover {
    background-color: #a1723d;
  }


  .time-slots {
    margin-top: 20px; /* Adjust as needed */
    background-color: transparent;
  }
  .time-slots-heading {
    font-size: 24px; /* Adjust this value to your preference */
    /* Other styles if needed */
    text-align: left;
    margin-left: -185px;
    margin-top: 19px;}
  
  .time-slots-grid {
    display: grid;
    grid-template-columns: repeat(2, 151px); /* Set explicit width for columns */
    grid-gap: 20px;
    align-self: start; /* Override align-items from parent */
    justify-self: start; /* Align grid to the start */
    margin-left: -180px;
    margin-top: 15px; /* Ensure no margin is pushing it to center */
    margin-bottom: 30px;
  }
  
  
  .time-slot-button {
    width: 151px;
    height: 37px;
    background-color: transparent; /* Set background to transparent */
    border: 1px solid white; /* Optional: add a white border */
    color: white; /* Set text color to white */
    cursor: pointer;
    /* Other styles (padding, margin, etc.) */
}

.time-slot-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Slight white tint on hover */
  /* Other hover styles */
}
.time-slot-button.selected {
  background-color: #ca8e46; /* Highlight color for selected button */
  color: #fff;
  /* Other styles for selected state */
}
  
  .time-slot-button.selected {
    background-color: #ca8e46; /* Highlight color for selected button */
    color: #fff;
  }
  
  /* Additional styles for responsive layout */
  @media (max-width: 600px) {
    .time-slots-grid {
      grid-template-columns: 1fr; /* Full width for smaller screens */
    }
  
    .time-slot-button {
      width: 100%;
    }
  }

  .room-choice {
    width: 535px;
    height: 45px;
    cursor: pointer;
    /* Additional styling */
    /* For example, add padding, background color, text alignment, etc. */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Example background color */
    color: #333; /* Example text color */
    border-radius: 5px; /* Example border radius */
    margin-top: 10px; /* Example margin */
  }
  
  /* Style for room options */
  .room-options p {
    margin-left: 20px; /* Example indentation */
    /* Additional styling */
  }
  .room-options option {
    color: black; /* Default color for options */
}

.room-options:focus option {
    color: black; /* Color when select is focused/opened */
}
/* Booking.css */

.select-room-heading {
  font-size: 24px; /* Adjust as needed */
}


.message-form {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.message-form input, .message-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  color: #ffffff;
}

.message-form input {
  width: 100%;
  height: 46px;
}

.message-form textarea {
  grid-row: 1 / 4;
  grid-column: 2;
  height: 168px;
}

.message-form input::placeholder, .message-form textarea::placeholder {
  color: #ccc;
}
.parent-container {
  display: flex;
  justify-content: center;
  text-align: center;

  align-items: center; /* if you also want vertical centering */
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: solid 2px #fff;
  color: var(--secondary-color);
  
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background-color: #ca8e46;
  z-index: -1;
  transition: right 0.5s ease;
}

.btn:hover::before {
  right: 0;
}

                

.footer {
  background-color: rgba(49, 43, 36, 0.6); /* Dark background */
  color: white; /* Light text */
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 30px; /* Adjust the value as needed */

}

.footer-content {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Add more styling as needed */
.error-messages {
  margin-top: 10px; /* Adjust as needed */
}

.error {
  color: red; /* Or your preferred color for errors */
  margin-bottom: 5px;
}
.next-messages{
  margin-top: 30px;
  background-color: white;
}
