body{overflow: hidden;}
.home-container {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden /* black with 30% opacity */
    ;
  }
  .home-container .navbar-home a{
    color: white;
  }
 
  
  .background-video {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}





.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Text color */
    z-index: 2; /* Ensure the text is above the overlay */
}

.large-heading {
    text-align: center;
    max-width: 520px;
    font-family: "Montserrat", sans-serif;
    font-size: 61px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.1em;
    letter-spacing: 3px;
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 0px;
    /* Add any additional styles here */
}
.desc {
    color: #FFFFFF;
    padding: 0;
    text-align: center;
    margin: 0 auto; /* Center horizontally */
    max-width: 596px;
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.7em;
    margin: 0px 0px 20px -30px;
    text-align: center;
    justify-content: center;
    /* Animation styles */
    animation-name: fadeInUp;
    animation-duration: 1.25s;
    animation-fill-mode: both;
}

.hover-button {
  background-color: orange; /* Original color */
  color: white;
  border: none;
  font-weight: bold;
    letter-spacing: 2px;
    margin-left: -85px;
    margin-top: 9px;
  padding: 6px 18px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease;
}

.hover-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Light black overlay */
  transition: left 1s ease;
}

.hover-button:hover::before {
  left: 0;
}


