a {
  text-decoration: none; /* Corrected from 'no' to 'none' */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 10px 20px;
    z-index: 10; /* Higher than the video */
}

.navbar-logo img {
    height: 50px; /* Adjust size as needed */
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0 21px;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #CA8E46;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0 21px;
}

.navbar-booking button {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 165, 0);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 19px;
  font-size: 18px;

  /* Other styles... */
}

.navbar-booking button:hover, .navbar-booking button:focus {
  background-color: rgb(255, 165, 0) !important; /* Ensuring override */
  /* Keep other styles or add additional styles if needed */
}

.btn-text {
  position: relative;
  top: 2px; /* Adjust this value as needed to lower the text */
}

.user-icon {
  height: 30px; /* Increase the size as needed */
  width: 30px; /* Increase the size as needed */
  object-fit: cover; 
  margin-right: 6px;
}
